* {
  font-family: "Gentium Plus";
}

.EntryParagraph {
  background:#ececec;
  border: 2px solid  #cecece;
  margin: 1em 0;
}

.LetterParagraph1 { 
  background-color:pink;
}

.Lexeme {
  background: yellow;
}

.Letterv{
  font-size: 50px;
}

.WordSection1 {
  border: 5px dotted red;
  padding: 1em;
}

.WordSection2 {
  border: 5px dotted blue;
}

.IndentedParagraph {
  background:lightblue;
}

.BlockParagraph {
  background:lightyellow;
}

.Table {
  background:lightgreen;
}

.Sensenumber {
  background:black;
  color:white;
  font-weight:bold;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align:center;
  display:inline-flex;
  justify-content:center;
  align-items:center;
}

.LexemeQualifier {
  background:red;
}

.fstandard {
  border: 2px solid yellow;
}

.flabel {
  border: 2px solid green;
}

.Examplefreetransn {
  background:red;
  color:white;
}


.Examplev {
  background:red;
  color:white;
}

.Glossn {
}


.Homonymnumber {
}


.IndentedParagraph {
}


.LetterParagraph1 {
}


.Letterv {
}


Lexeme {
}


LexemeQualifier {
}


Lexicalfunction {
}


Lexicalvernacular {
}


Notesanthropology {
}


Notesgrammar {
}


Partofspeech {
}


Sensenumber {
}


Subentry {
}


Table {
}


Traducciondlexema {
}


WordSection1 {
}


fbold {
}


fitalic {
}


flabel {
}


fstandard {
}


fvernacular {
}


