* {
  font-family: "Gentium Plus";
}

.EntryParagraph {
  border: 2px solid  #cecece;
  margin: 1em 0;

  background:#f7f5c6;
  border-top-right-radius:20px;
  width: 50%;
  padding: 2em;
}

.LetterParagraph1 { 
  background-color:pink;
}

.Lexeme {
  background: yellow;
  border: 2px dashed green;
}

.Letterv{
  font-size: 50px;
}

.WordSection1 {
  border: 5px dotted red;
  padding: 1em;
}

.WordSection2 {
  border: 5px dotted blue;
}

.IndentedParagraph {
  background:lightblue;
}

.BlockParagraph {
  background:lightyellow;
}

.Table {
  background:lightgreen;
}

.Sensenumber {
  background:black;
  color:white;
  font-weight:bold;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align:center;
  display:inline-flex;
  justify-content:center;
  align-items:center;
}

.LexemeQualifier {
  background:red;
}

.fstandard {
  font-style: italic !important;
}

.flabel {
  border: 2px solid green;
}

.Examplefreetransn {
  background:red;
  color:white;
}


.Examplev {
  background:indigo;
  color:white;
}

.Glossn {
  background-color: orange;
}


.Homonymnumber {
}


.IndentedParagraph {
}


.LetterParagraph1 {
}


.Letterv {
}


.Lexeme {
}


.LexemeQualifier {
}


.Lexicalfunction {
}


.Lexicalvernacular {
}


.Notesanthropology {
}


.Notesgrammar {
}


.Partofspeech {
  background-color: white;
  color:blue;
}


.Sensenumber {
}


.Subentry {
  background: lightyellow;
  border: 2px dashed lightgreen;
}

.Table {
}


.Traducciondlexema {
}


.WordSection1 {
}

.fbold {
}


.fitalic {
}


.flabel {
}


.fstandard {
}


.fvernacular {
}






